Project-1/Story generation agent with input and output guard.json
{
  "name": "Story generation agent with input and output guard",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.4",
          "mode": "list",
          "cachedResultName": "gpt-5.4"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        0,
        208
      ],
      "id": "0a0f0a35-d3a9-4c24-94d2-14e889d5eb04",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -848,
        544
      ],
      "id": "4e737ec5-a76d-4232-80ef-cf10f60e75d6",
      "name": "OpenAI Chat Model1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        352,
        208
      ],
      "id": "bf37a7c4-9ca8-40e9-ae49-dde14c91e99c",
      "name": "OpenAI Chat Model2"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "You are an Input Guard Agent for a children's story writing system.  Your job is to review and validate the user's input topic before it is passed to the story generation agent.  Follow these rules:  1. SAFETY CHECK - Reject or flag topics that include:   - Violence, abuse, or harmful behavior   - Sexual or inappropriate content   - Hate speech or discrimination   - Scary or disturbing themes unsuitable for children (under age 10)  2. APPROPRIATENESS - Ensure the topic is suitable for children (ages 3–10) - If the topic is too complex, mature, or abstract, simplify it into a child-friendly version  3. SANITIZATION - Remove harmful or inappropriate elements - Replace them with safe, imaginative alternatives  4. OUTPUT FORMAT - If topic is valid:   Return:   {     \"status\": \"approved\",     \"cleaned_topic\": \"<child-friendly version of topic>\"   }  - If topic is invalid:   Return:   {     \"status\": \"rejected\",     \"reason\": \"<brief explanation>\",     \"suggested_topic\": \"<safe alternative>\"   }  Keep responses concise and structured. Do not generate the story."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -848,
        336
      ],
      "id": "a09a8b80-09fb-4fca-a328-0f98607b4037",
      "name": "Input Guard"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "You are a creative children's story writer.\n\nYour task is to write a fun, engaging, and age-appropriate story based on the given topic.\n\nFollow these guidelines:\n\n1. TARGET AUDIENCE\n- Children aged 3–10\n- Use simple, clear, and friendly language\n\n2. STORY STRUCTURE\n- Beginning: Introduce characters and setting\n- Middle: Present a small challenge or adventure\n- End: Resolve the problem with a positive outcome\n\n3. STYLE\n- Warm, imaginative, and playful tone\n- Use descriptive but simple language\n- Include light dialogue where appropriate\n\n4. THEMES\n- Encourage positive values like:\n  - Kindness\n  - Friendship\n  - Curiosity\n  - Problem-solving\n  - Sharing\n\n5. CONSTRAINTS\n- No violence, fear, or inappropriate content\n- Avoid complex words or long sentences\n- Keep story length between 150–400 words\n\n6. OUTPUT FORMAT\nReturn only the story text. Do not include explanations or metadata.\n\nMake the story delightful and memorable."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        0,
        0
      ],
      "id": "1e848637-c181-419a-bccd-dfcecdf75f6e",
      "name": "Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are an Output Guard Agent for children's stories.  Your job is to review and refine the generated story before it is shown to the user.  Follow these rules:  1. SAFETY CHECK - Ensure the story contains:   - No violence, fear, or disturbing elements   - No inappropriate language or themes  2. QUALITY CHECK - Ensure:   - Clear beginning, middle, and end   - Simple, child-friendly language   - Smooth flow and readability  3. TONE ADJUSTMENT - Make sure tone is:   - Warm   - Positive   - Encouraging  4. FIXES - If issues are found:   - Rewrite only the problematic parts   - Keep original story meaning intact  5. OUTPUT FORMAT Return only the final corrected story text.  Do not include explanations, comments, or metadata."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        352,
        0
      ],
      "id": "88b3a6c7-2f34-4993-abc8-89124e2b5ca7",
      "name": "Output Guard"
    },
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1056,
        336
      ],
      "id": "12cb2333-0ed1-4f43-8505-70a8040ad63f",
      "name": "When chat message received",
      "webhookId": "b5f9e411-0065-48c0-beae-d97624beee88",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9ad5c2b3-0cfb-44f7-85cf-2d2c3a998ba4",
              "leftValue": "={{ $json.output.status }}",
              "rightValue": "approved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -464,
        336
      ],
      "id": "9aea299e-6c47-4d0d-98ea-6de54cb2d7b4",
      "name": "If"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"oneOf\": [\n    {\n      \"title\": \"Approved Output\",\n      \"required\": [\"status\", \"cleaned_topic\"],\n      \"properties\": {\n        \"status\": {\n          \"type\": \"string\",\n          \"enum\": [\"approved\"]\n        },\n        \"cleaned_topic\": {\n          \"type\": \"string\",\n          \"description\": \"Child-friendly version of the input topic\"\n        }\n      },\n      \"additionalProperties\": false\n    },\n    {\n      \"title\": \"Rejected Output\",\n      \"required\": [\"status\", \"reason\"],\n      \"properties\": {\n        \"status\": {\n          \"type\": \"string\",\n          \"enum\": [\"rejected\"]\n        },\n        \"reason\": {\n          \"type\": \"string\",\n          \"description\": \"Brief explanation for rejection\"\n        },\n        \"suggested_topic\": {\n          \"type\": \"string\",\n          \"description\": \"Optional safe alternative topic\"\n        }\n      },\n      \"additionalProperties\": false\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -704,
        544
      ],
      "id": "b4482c65-5b80-4223-9016-45be9557e32c",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "message": "=Hey I can't generate story on the given topic try with -  {{ $('Input Guard').item.json.output.suggested_topic }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        0,
        480
      ],
      "id": "098ca725-8d32-4f58-a140-2e1ee599ae42",
      "name": "Chat",
      "webhookId": "90331dd0-1f8a-438c-962f-62d2776b95bf"
    },
    {
      "parameters": {
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        704,
        0
      ],
      "id": "0219b7bc-1bbf-4950-ad76-66466115ee68",
      "name": "Chat1",
      "webhookId": "87efbc5b-adac-4c5a-ab36-6b40f54afb0f"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Input Guard",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Output Guard",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Input Guard": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent": {
      "main": [
        [
          {
            "node": "Output Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output Guard": {
      "main": [
        [
          {
            "node": "Chat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Input Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Input Guard",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9dc5a8e4-61a6-4f41-b054-e97084cf5d88",
  "meta": {
    "instanceId": "d5074a9296f9f3fe7af83b33a0f6843b5ee4fa18b22be8510d4df03c03650c16"
  },
  "id": "tR4gBcRYPfCHFqGc",
  "tags": []
}